
@{
    ViewBag.Title = "Courses";
}


<div class="row add-margin-top">
    <div class="col-md-6">
        <h2>@ViewData["CurrentSemesterString"]</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <a href="@Url.Action("AddCourse", "Gradebook", ViewData["CurrentSemester"])" class="btn btn-primary">Add Course</a>
        <div class="list-group courseGroup">
            <!-- List all of the CourseModels associated with the selected semester -->
            @{
                foreach(var course in Model)
                {
                    <div class="courseEntry col-md-12"><a href="@Url.Action("SpecificCourse", "Gradebook", course)" class="list-group-item">@course.courseCode @course.courseNumber</a></div>
                }
            }
        </div>
     </div>
</div>
<div class="row add-margin-top">
    <a href="@Url.Action("Index", "Home")">Back to Semester List</a>
</div>