
@{
    ViewBag.Title = "Courses";
}


<div class="row add-margin-top">
    <div class="col-md-6">
        <h2>@ViewData["CurrentSemesterString"]</h2>
    </div>
</div>
<hr />

<!-- TODO: Show the overall GPA for the semester. -->
<div class="row">
    <div class="col-lg-7">
        <div class="row">
            <!-- List Title -->
            <div class="col-md-9 add-margin-bottom">
                <h3 style="display: inline;">Courses</h3>
            </div>

            <!-- Add WorkItem button -->
            <div class="col-md-3">
                <a href="@Url.Action("AddCourse", "Gradebook", ViewData["CurrentSemester"])" class="btn btn-primary">Add Course</a>
            </div>
        </div>
            
        <!-- list-group of Courses -->
        <div class="list-group courseGroup">
            @{
                foreach(var course in Model)
                {
                    <div class="col-md-12" ><a href="@Url.Action("SpecificCourse", "Gradebook", course)" class="list-group-item courseEntry" data-courseId="@course.courseId">@course.courseCode @course.courseNumber</a></div>
                }
                <div class="col-md-12 add-margin-top" id="noCoursesAddedWarning" hidden>
                    <p class="text-warning">You currently don't have any courses associated with this semester. Click the "Add Course" button above to get started.</p>
                </div>
            }
        </div>
    </div>
</div>


<div class="row add-margin-top">
    <a href="@Url.Action("Index", "Home")">Back to Semester List</a>
</div>

<script>

    // Load the grade for each course in the list of courses.
    $(document).ready(function () {
        loadCourseGrades();

        // Display warning if there are you associated courses with the selected SemesterModel.
        if ($('.courseEntry').length == 0) {
            $('#noCoursesAddedWarning').show();
        }
    });

    /*
    * Ajax call to GradebookController to get the weighted grade for eac
    * course in the current semester.
    */
    function loadCourseGrades() {
        $('.courseEntry').each(function () {
            var entry = $(this);
            var courseId = $(this).attr("data-courseId");
            $.ajax({
                url: "/Gradebook/GetWeightedGrade",
                type: "GET",
                datatype: "json",
                data: { courseId: courseId},
                success: function (data) {
                    var grade = (data["weightedGrade"]).toFixed(2);
                    entry.append("<span class='pull-right'>" + grade + "%</span>");
                },
                error: function (data) {
                    alert("error");
                }
            })
        });
    };




</script>