
@{
    ViewBag.Title = "SpecificWorkItem";
    string code = (ViewData["AssociatedCourse"] as GradeTracker.Models.CourseModel).courseCode;
    string number = (ViewData["AssociatedCourse"] as GradeTracker.Models.CourseModel).courseNumber;
    string weightCategory = (@ViewData["AssociatedCategoryWeight"] as GradeTracker.Models.CategoryWeight).categoryName;
    int weightValue = (@ViewData["AssociatedCategoryWeight"] as GradeTracker.Models.CategoryWeight).categoryWeight;
}
<div class="row add-margin-top">
    <div class="col-md-6">
        <h2>@Model.itemName</h2>
        <h4>@code @number</h4>
        @Html.ActionLink(String.Format("Back to {0} {1}", code, number), "SpecificCourse", ViewData["AssociatedCourse"])
    </div>
</div>

<hr />
<!--Main content area. -->
<div class="row" id="bodyContentArea">
    <div class="col-md-5" id="scoreDisplayArea">
        @Html.Partial("_EditWorkItemPartial")
    </div>
</div>

<script>

    $(document).ready(function() {
        $('#pointsEarnedBox').val(@Model.pointsEarned);
        $('#pointsPossibleBox').val(@Model.pointsPossible);
    });

    /*
        TODO: Still need to address problem of page refresh reloading the wrong data.
        Send ajax request to save the new score in the database.
    */
    $('#scoreDisplayArea').on('click', '#saveScoreButton', function () {
        var pointsEarned = $('#pointsEarnedBox').val();
        var pointsPossible = $('#pointsPossibleBox').val();
        $.ajax({
            type: "POST",
            datatype: 'html',
            url: "/Gradebook/EditWorkItemScore",
            data: {id: @Model.id, earned: pointsEarned, possible: pointsPossible},
            success: function(data) {
                $('#scoreDisplayArea').html(data);
                $('#scoreSuccessLabel').show();
                $('#scoreSuccessLabel').fadeOut(1000, function(){});
                $('#scoreEditSection').hide();
            },
            error(data) {
                $('#errorLabel').html(data.status);
                $('#errorLabel').show();
                $('#errorLabel').fadeOut(3000, function(){});
            }
        });
    });

    /*
    * Send ajax request to save the new selected category in the database.
    */
    $('#scoreDisplayArea').on('click', '#saveCategoryButton', function () {
        var name = $('#categoryList').val();
        $.ajax({
            type: "POST",
            datatype: "html",
            url: "/Gradebook/EditWorkItemCategory",
            data: {id: @Model.id, categoryName: name},
            success: function(data) {
                $('#scoreDisplayArea').html(data);
                $('#categorySuccessLabel').show();
                $('#categorySuccessLabel').fadeOut(1000, function(){});
            },
            error: function(data) {
                alert("Error");
            }
        })
    });


</script>
        


