
@{
    ViewBag.Title = "SpecificCourse";
}

<div class="row add-margin-top">
    <div class="col-md-6">
        <h2>@Model.courseCode @Model.courseNumber</h2>
        <h4></h4>
    </div>
</div>
<hr />

<div class="row">

    <!-- TODO: Show sections for each cateogry and display the work items that have been added. -->
    <!-- TODO: Add "Weighted Grade" label. -->
    <!-- TODO: Prevent adding WorkItem until weight categories have been setup. -->

    <!-- WORK ITEMS LIST SECTION -->
    <div class="col-lg-5">
            <!-- List Title -->
            <div class="col-md-8 add-margin-bottom">
                <h4 style="display: inline;">Work Items</h4>
            </div>

            <!-- Add WorkItem button -->
            <div class="col-md-4">
                <a href="@Url.Action("AddWorkItem", "Gradebook", Model)" class="btn btn-primary" id="addWorkItemButton">Add Work Item</a>
            </div>

        <!-- list-group of WorkItems -->
            <div class="list-group workItemGroup col-lg-12">
                @{
                    var workItemList = ViewData["AssociatedWorkItems"] as List<GradeTracker.Models.WorkItemModel>;
                    foreach(var workItem in workItemList)
                    {
                        <div class="workItemEntry col-md-12"><a href="#" class="list-group-item">@workItem.itemName</a></div>
                    }
                }
            </div>
    </div>

    <!-- CURRENT WEIGHT CATEGORY SECTION -->
    <div class="col-lg-3 categorySection">
        <div class="col-sm-12 add-margin-bottom">
            <h4 style="display: inline;">Current Categories</h4>
        </div>
        <div class="col-sm-12">
        <div class="list-group categoryList">
            @{
                var categories = ViewData["AssociatedCategoryWeights"] as List<GradeTracker.Models.CategoryWeight>;
                if(categories.Count == 0)
                {
                    <p class="noCategoriesError">You must add grading weights totaling 100% before adding any work items.</p>
                }
                foreach(var category in categories)
                {
                    <div class="list-group-item">@category.categoryName - @category.categoryWeight %</div>
                }

            }
        </div>
        </div>
    </div>

    <!-- ADD WEIGHT CATEGORY SECTION -->
    <div class="col-lg-4">
            <div class="row">
                <!-- List Title -->
                <div class="col-md-6 add-margin-bottom">
                    <h4 style="display: inline;">Weight Categories</h4>
                </div>
            </div>

            <div class="form-horizontal">
                <div class="col-md-12 form-group">
                    @Html.Label("Name", htmlAttributes: new { @class = "control-label"})
                    @Html.TextBox("categoryNameBox", "", htmlAttributes: new { @class="form-control "})
                </div>
                <div class="col-md-12 form-group">
                    @Html.Label("Weight", htmlAttributes: new { @class = "control-label"})
                    @Html.TextBox("categoryWeightBox", "", htmlAttributes: new { @class="form-control"})
                </div>

                <div class="btn btn-default col-md-5 col-md-offset-2 addCategoryButton">Add New Category</div>
            </div>
        </div>
</div>

<div class="row add-margin-top">
    @Html.ActionLink("Back to Courses", "Courses", ViewData["CurrentSemester"])
</div>

<script>

    $(document).ready(function() {
        setAddWorkItemButtonState(); 
    });

    // Called when the "Add New Category" button is clicked.
    $('.addCategoryButton').click(function () {
        // Check if either input box is empty.
        if($('#categoryNameBox').val() == "" || $('#categoryWeightBox').val() == "") {
            alert("Invalid input, try again.");
        }
        else {
            var currentWeightTotal = 0;
            var courseId = @Model.courseId;
            $.ajax({
                type:"POST",
                url: "/Gradebook/GetCurrentWeightTotal",
                datatype: "text",
                data: {courseId: courseId},
                success: function(data) {
                    currentWeightTotal += parseInt(data, 10);
                    currentWeightTotal += parseInt($('#categoryWeightBox').val(), 10);
                    if(currentWeightTotal <= 100) {
                        saveWeight(currentWeightTotal);
                    }
                    else {
                        alert("Cannot add category, weight total will be greater than 100.");
                    }
                },
                error: function(data) {
                    alert(data.statusText);
                }
            });
        }

    });

    // Make Ajax request to the GradebookController to add a new category weight.
    function saveWeight(currentTotal) {
        var courseId = @Model.courseId;
        var categoryName = $('#categoryNameBox').val();
        var categoryWeight = parseInt($('#categoryWeightBox').val(), 10);
        $.ajax({
            type: "POST",
            url: "/Gradebook/SaveNewCategoryWeight",
            datatype: "text",
            data: {courseId: courseId, categoryName: categoryName, categoryWeight: categoryWeight},
            success: function(data) {
                // Hide no categories error.
                if(document.getElementsByClassName("noCategoriesError") !== null) {
                    $('.noCategoriesError').hide();
                }
                var newCategoryEntry =  "<div class='list-group-item'>" + data['categoryName'] + " - " + data['categoryWeight'] + " %</div>";
                $('.categoryList').append(newCategoryEntry);

                setAddWorkItemButtonState();
            },
            error: function(data) {
                alert(data.statusText);
            }
        });
    };

    // Checks if weight totals == 100, if so enable the "Add Work Item" button.
    function setAddWorkItemButtonState() {
        var courseId = @Model.courseId;
        $.ajax({
            type: "POST",
            url: "/Gradebook/GetCurrentWeightTotal",
            datatype: "text",
            data: {courseId: courseId},
            success: function(data) {
                if(parseInt(data, 10) != 100) {
                    $('#addWorkItemButton').hide();
                } 
                else {
                    $('#addWorkItemButton').show();
                }
            },
            error: function(data) {
                alert("Error getting current weight total.")
            }
        });
    }

</script>
