
@{
    ViewBag.Title = "SpecificWorkItem";
    string code = (ViewData["AssociatedCourse"] as GradeTracker.Models.CourseModel).courseCode;
    string number = (ViewData["AssociatedCourse"] as GradeTracker.Models.CourseModel).courseNumber;
    string weightCategory = (@ViewData["AssociatedCategoryWeight"] as GradeTracker.Models.CategoryWeight).categoryName;
    int weightValue = (@ViewData["AssociatedCategoryWeight"] as GradeTracker.Models.CategoryWeight).categoryWeight;
}
<div class="row add-margin-top">
    <div class="col-md-6">
        <h2>@Model.itemName</h2>
        <h4>@code @number</h4>
        @Html.ActionLink(String.Format("Back to {0} {1}", code, number), "SpecificCourse", ViewData["AssociatedCourse"])
    </div>
</div>

<hr />
<!--Main content area. -->
<div class="row" id="bodyContentArea">
    <div class="col-md-5" id="scoreDisplayArea">
        @Html.Partial("_EditWorkItemPartial")
    </div>

</div>

<script>

    $(document).ready(function() {
        $('#pointsEarnedBox').val(@Model.pointsEarned);
        $('#pointsPossibleBox').val(@Model.pointsPossible);
    });

    $('#scoreDisplayArea').on('click', '#scoreEditButton', function () {
        
        toggleScoreSection();
    });

    /*
        TODO: Still need to address problem of page refresh reloading the wrong data.
    */
    $('#scoreDisplayArea').on('click', '#saveScoreButton', function () {
        var pointsEarned = $('#pointsEarnedBox').val();
        var pointsPossible = $('#pointsPossibleBox').val();
        $.ajax({
            type: "POST",
            datatype: 'html',
            url: "/Gradebook/EditWorkItem",
            data: {id: @Model.id, earned: pointsEarned, possible: pointsPossible},
            success: function(data) {
                $('#scoreDisplayArea').html(data);
                $('#successLabel').show();
                $('#successLabel').fadeOut(1000, function(){});
                $('#scoreEditSection').hide();
            },
            error(data) {
                $('#errorLabel').html(data.status);
                $('#errorLabel').show();
                $('#errorLabel').fadeOut(3000, function(){});
            }
        });
    });

    $('#cancelScoreEditButton').click(function () {
        toggleScoreSection();
    });

    function toggleScoreSection() {
        $('#scoreSection').toggle();
        $('#scoreEditSection').toggle();
    }

</script>
        


