
@{
    ViewBag.Title = "SpecificWorkItem";
    string code = (ViewData["AssociatedCourse"] as GradeTracker.Models.CourseModel).courseCode;
    string number = (ViewData["AssociatedCourse"] as GradeTracker.Models.CourseModel).courseNumber;
    string weightCategory = (@ViewData["AssociatedCategoryWeight"] as GradeTracker.Models.CategoryWeight).categoryName;
    int weightValue = (@ViewData["AssociatedCategoryWeight"] as GradeTracker.Models.CategoryWeight).categoryWeight;
}
<div class="row add-margin-top">
    <div class="col-md-6">
        <h2>@Model.itemName</h2>
        <h4>@code @number</h4>
        @Html.ActionLink(String.Format("Back to {0} {1}", code, number), "SpecificCourse", ViewData["AssociatedCourse"])
    </div>
</div>

<hr />
<!--Main content area. -->
<div class="row">
    <div class="col-md-5">
            
            <div class="col-md-5">
                <h4>Score <span class="btn btn-sm btn-info editScoreBtn">Edit</span></h4>
            </div>
            <div class="col-md-offset-1 col-md-6">
                <h4>Category Weight <span class="btn btn-sm btn-info editCategoryBtn">Edit</span></h4>
            </div>
            <p class="col-md-5 bg-info lead">@Model.pointsEarned/@Model.pointsPossible</p>
            <p class="col-md-5 col-md-offset-1 bg-info lead">@weightCategory: @weightValue%</p>

    </div>
</div>

        


