@{
    ViewBag.ApplicationName = "Personal Gradebook";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @ViewBag.Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery-ui.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="@Url.Action("Index", "Home")" class="pull-left"><img src="~/Images/navbarLogo.png" /></a>
                </div>
                <div class="navbar-collapse collapse">
                    
                    <div class="col-md-8" > 
                         <ul class="nav navbar-nav custom-mine">
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Final Grade Calculator","FinalGradeCalculator", "Home")</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
    </div>
<div id="footer">
            <p>&copy; @DateTime.Now.Year - @ViewBag.ApplicationName</p>
        </div >
    
    @RenderSection("scripts", required: false)
</body>
</html>
